.container {
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
}
